@font-face {
	font-family: Fabada;
	src: url(fonts/Fabada-regular.ttf);
}

body {  
	padding-bottom: 40px;  
	background-image: url('img/backFinal2.png');
	padding-left: 40px;
	font-size: 20px;
	font-family: "Fabada";
}  

.container {
        color: rgba(100, 100, 100,1);
        width: 80%;
}

.question {
	border-radius: 8px;
	border-style:solid;
	border-color: #AAAABB;
	border-width: 1px;
	box-shadow: 2px 2px 2px #AAAABB;
	width: 900px;
	height: 100px;
	padding-right: 5px;
}

.question .text {
	width:700px;
	padding-left: 20px;
	padding-top: 14px;
	float: left;
}

.question .controls {
	position: relative;
	width: 40px;
	top: 10px;
	left: 127px;
	font-size: 50px;
	float: left;
}

.question .controls .votes {
	position: relative;
	left: -55px;
	top: 15px;
	font-family: "Fabada";
	font-size: 100px;
	float: right;
}
.question .controls .downvote {
	position:relative;

}

.question .controls .btn-info {
	font-size: 25px;
	text-align: center;
	width:30px;
	height:30px;
}


.al-element {
	padding-top: 60px;
	border-radius: 8px;
	border-width: 1px;
	height:800px;
	padding-left: 20px;
	background-color: rgba(240, 240, 240,.80);
}

/*
.ask_question {
        border-radius: 8px;
        border: solid;
        border-width: 4px;
        border-color: rgba(210,226,233,.8);
        position: absolute;
        width: 850px;
        height: 410px;
        left: 20%;
        top: 30%;
        background-color: rgba(222,236,243,.8);
        box-shadow: 10px 10px 10px #AAAABB;
        padding-left: 35px;
        padding-top: 30px;
}
*/
 
.ask_question textarea, input {
        font-size: 20px;
        font-family: "Fabada";
        resize: none;
        display:block;
}
 
.ask_question #ask_question {
        width: 500px;
        height: 120px;
        padding-top: -20px;
}
 
.ask_question .options {
        position: relative;
        top: 10px;
}
 
.ask_question .options div {
        height: 50px;
 
}
 
.ask_question #letters {
        position: relative;
        float: left;
        left: 10px;
        top: 5px;
}
 
.ask_question #inputs {
        position: relative;
        left: 30px;
        float: left;
}
 
.ask_question #inputs input {
        height: 25px;
        font-size: 20px;
        width: 400px;
}
 
.ask_question button {
        font-size: 22px;
        height: 35px;
        font-family: "Fabada";
        position:relative;
        top:164px;
        left:630px;
}

.black_overlay
{
	height:100%;
	width:100%;
	position:fixed;
	left:0;
	top:0;
	z-index:10 !important;
	background-color:black;
	filter: alpha(opacity=55); /* internet explorer */
	-khtml-opacity: 0.55;      /* khtml, old safari */
	-moz-opacity: 0.55;       /* mozilla, netscape */
	opacity: 0.55;           /* fx, safari, opera */
}

#addQuestionDialog {
	position: absolute;
	top: 100px;
	left: 90px;
	z-index:19 !important;
}

.student_ask_question {
        border-radius: 8px;
        border: solid;
        border-width: 4px;
        border-color: rgba(210,226,233,.8);
        position: absolute;
        width: 850px;
        height: 130px;
        left: 20%;
        top: 30%;
        background-color: rgb(222,236,243);
        box-shadow: 10px 10px 10px #AAAABB;
        padding-left: 35px;
        padding-top: 30px;
}

#addQuestionModal textarea, input {
		width: 500px;
		height: 60px;
        font-size: 20px;
        font-family: "Fabada";
        resize: none;
        display:block;
}

.student_ask_question button {
        font-size: 22px;
        font-family: "Fabada";
        position:relative;
        top:0px;
        left:530px;
}

.carouselOverlay {
	position:absolute;
	top:400px;
	left:0px;
	width:800px;
	height:100px;
	background:black;
	
	filter: alpha(opacity=55); /* internet explorer */
	-khtml-opacity: 0.55;      /* khtml, old safari */
	-moz-opacity: 0.55;       /* mozilla, netscape */
	opacity: 0.55;           /* fx, safari, opera */
}

.carouselOverlayText {
	position:absolute;
	top:400px;
	left:0px;
	width:800px;
	height:100px;
	
	padding: 10px;
	color: white;
}

