{% extends "fbcore/base.html" %}
 
{% block content %}
  <div class="navbar navbar-fixed-top">  
    <div class="navbar-inner">  
      <a class="brand" href="#">Project name</a>
        <ul class="nav">


          {% block menu %} 
          {% endblock %}
          <li>
            <a href="/logout">Log out</a>
          </li>  
        </ul>  
      </div>
  </div>  

  <div class="container" style="position: relative;">
  	 {% block main_view_footer %} {% endblock %}
     <div id="right_container" class="span12 al-element" style="margin-top: 65px;">
        {% block specific_content %}  

        {% endblock %}
  	 </div>
  </div>
		
        {% block footer %}

        <footer>  
                <p>© Company 2012</p>  
        </footer>
        {% endblock %}

{% endblock %}

