{% extends "fbcore/base.html" %}

{% block content %}    
	<div class="navbar navbar-fixed-top">  
		<div class="navbar-inner">  
			<div class="container">  
			<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">  
				<span class="icon-bar"></span>  
				<span class="icon-bar"></span>  
				<span class="icon-bar"></span>  
			</a>  
			<a class="brand" href="#"><img src="" width="111" alt="w3resource logo" /></a>  
				<div class="nav-collapse">  
					<ul class="nav">  
						{% block menu %} {% endblock %}
					</ul>  
				</div><!--/.nav-collapse -->  
			</div>  
		</div>  
	</div>  

  <div class="container-fluid">
		<div class="row"><br>  
      <div class="span5 al-element" id ="left_container"><br>  
        inline elements like span, block level elements like p, div.<br>  
      </div><br>  
      <div class="span12 al-element">  
        <div class="question" width="720" height="300" id="q_main">
          <div class="text">This a sample question that some stupid did..</div>
          <div class="controls">
            <div class="votes">45</div>
            <button data-loading-text="+" class="btn btn-info upvote">+</button></p>
            <button data-loading-text="-" class="btn btn-info downvote">-</button></p>        
          </div>
        </div>
      </div>
    </div>
  </div>

  
  	{% block footer %} 	
 	<footer>  
		<p>© Company 2012aaaaa</p>  
	</footer> 
	{% endblock %}





{% endblock %}
