{% extends "fbcore/base.html" %}
 
{% block content %}    
        {}
        <div class="navbar navbar-fixed-top">  
                <div class="navbar-inner">  
                        <div class="container">  
                        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">  
                                <span class="icon-bar"></span>  
                                <span class="icon-bar"></span>  
                                <span class="icon-bar"></span>  
                        </a>  
                        <a class="brand" href="#"><img src="" width="111" alt="w3resource logo" /></a>  
                                <div class="nav-collapse">  
                                        <ul class="nav">  
                                                {% block menu %} {% endblock %}
                                        </ul>  
                                </div><!--/.nav-collapse -->  
                        </div>  
                </div>  
        </div>  

  <div class="container-fluid">
                <div class="row"><br>
      <div id="right_container" class="span12 al-element">
        {% block specific_content %}  
          test
        {% endblock %}
        </div>
      </div>
    </div>
  </div>
 
 
        {% block footer %}

        <footer>  
                <p>© Company 2012aaaaa</p>  
        </footer>
        {% endblock %}

{% endblock %}

