{% extends "fbcore/index.html" %}

{% block scripts %}
	<script src="../static/js/application.js"></script>
    <script type="text/javascript">
    	appUpdateProc = updateApplicationState;
    </script>
{% endblock %}

{% block menu %}
<li class="active">
	<a href="#">Clarrifications</a>
</li>  
<li>
	<a href="#about">Challenges</a>
</li>  
<li>
  <div>loool</div>
</li>
{% endblock %}

{% block footer %}
  <div>
  	<div class="question-template" style="display: none;">
        <div class="text"></div>
        <div class="votes"></div>
        <button id="upvote" data-loading-text="+" class="btn btn-info">+</button></p>
        <button id="downvote" data-loading-text="-" class="btn btn-info">-</button></p>        
    </div>
  </div>
  
  <div>TEST:</div>
  <div id="callNo"></div>
  <div id="appstate"></div>
  <div id="window"></div>
{% endblock %}