{% extends "fbcore/index.html" %}

{% block scripts %}
	<script src="../static/js/application.js"></script>
    <script type="text/javascript">
    	appUpdateProc = updateApplicationState;
    </script>
{% endblock %}

{% block chujoza %} {% endblock %}

{% block menu %}
<li class="active">
	<a href="#">Clarifications</a>
</li>  
<li>
	<a href="#about">Challenges</a>
</li>  
<li>
  <a id="npa" onclick="attentionButton(true)" href="#">I DON'T GET THAT</a>
</li>
{% endblock %}

{% block specific_content %}
Loading questions...
{% endblock %}

{% block main_view_footer %}
<div class="question_controls" style="position: relative; left: -160px; top: 10px;">
	<button class="btn" onclick="dialogNewQuestion()">+ Add Question</button>
</div>
{% endblock %}

{% block footer %}
<div class="question-template" style="display: none; background:white; margin-bottom:10px; position:relative;" width="720" height="300" id="q_main">

	{% if is_teacher %}
	<div class="teacher_controls" style="position: absolute; top: 60px; left: 15px;">
		<button class="btn markanswer" onclick="">Mark answered</button>
	</div>
	{% endif %}
	
	<div class="text">This a sample question that some stupid did..</div>
	<div class="controls" >
		<div class="votes" >45</div>
    	<div class="btn-group btn-group-vertical">
		  <button style="cursor:hand" data-loading-text="+" class="btn upvote">+1</button>
		  <button style="cursor:hand" data-loading-text="-" class="btn downvote">&nbsp;-1</button>
		</div>
	</div>
</div>

<div id="addQuestionDialog" style="display: none;">
	<div class="student_ask_question">
        <div class="header"></div>
        <textarea name="question" id="student_question" value="Write your question here?"></textarea>
        <button data-loading-text="Ask Question" class="btn btn-info" onclick="finalizeAskQuestion(false)">Cancel</button>
        <button data-loading-text="Ask Question" class="btn btn-info" onclick="finalizeAskQuestion(true)">Ask Question</button>
  </div>
</div>
{% endblock %}
