{% extends "fbcore/index.html" %}

{% block menu %}
<li> 
  <a href="#" role="button"  data-toggle="modal">Ask students</a>
</li>
<li> 
  <a href="#askTeacherQuestion" role="button"  data-toggle="modal">Add question</a>
</li>  

{% endblock %}

{% block head_scripts %}
<script type='text/javascript' src='https://www.google.com/jsapi'></script>
<script type='text/javascript'>
  google.load('visualization', '1', {packages:['gauge']});

  function drawChart(level) {
    var data = google.visualization.arrayToDataTable([
      ['Label', 'Value'],
      ['Confusion', level],
    ]);

    var options = {
      width: 250, height: 250,
      redFrom: 90, redTo: 100,
      yellowFrom:75, yellowTo: 90,
      minorTicks: 5, animation : { duration: 1000 }
    };

    chart.draw(data, options);
  }
</script>
{% endblock %}

{% block specific_content %}

<div class="row">
      <div class="span5"><div id="chart_div"></div></div>
      <div class="span6" style="line-height:150%">
        <b>Top questions asked by users:</b><br>
        {% for question in questions %}
        <div class="well well-small">
    	    {{ question.text }} <br>
          <div align="right"><b>votes: {{ question.score }}</b></div> 
        </div>
        {% endfor %}
      </div>
</div>

  <style type="text/css">
    .qq {float:left;}
    .qbox{position:relative;top:-25px;}
  </style>

{% for id, question in questions.items %}
    <a href="showanswers/?id={{ id }}" class="qq">{{ question }}</a>
    <input type="checkbox" id="activate_{{id}}" class="qq qbox" onclick="alert('lolrous!')">Active</input>
{% endfor %}


<script type="text/javascript">
  var chart = new google.visualization.Gauge(document.getElementById('chart_div'));
</script>



<!-- Modal -->
<div id="askTeacherQuestion" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Ask new question</h3>
  </div>
  <div class="modal-body ask_question" style="height: 350px;">
	<textarea name="question" id="ask_question" value="Write your question here?"></textarea>
	<div class="options">
                <div id ="letters">    
                        <div class="row1">a)</div>
                        <div class="row2">b)</div>
                        <div class="row3">c)</div>
                        <div class="row4">d)</div>
                </div>
 
                <div id="inputs">
                        <div class="row1"><input type="text" name="ans_a" id="ans_a" /></div>
                        <div class="row2"><input type="text" name="ans_b" id="ans_b" /></div>
                        <div class="row3"><input type="text" name="ans_c" id="ans_c" /></div>
                        <div class="row4"><input type="text" name="ans_d" id="ans_d" /></div>
                </div>
        </div>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
    <button class="btn btn-primary" data-dismiss="modal" onclick="finalizeAskTeacherQuestion()">Ask</button>
  </div>
<!-- Modal ends -->
</div>
{% endblock %}

{% block scripts %}
	<script src="../static/js/application.js"></script>
    <script type="text/javascript">
    	appUpdateProc = teacherAppUpdate;
    	heartbeatAddr = "/teacherq/confusedstudents";
    </script>
{% endblock %}
