{% extends "fbcore/index.html" %}

{% block menu %}
<li> 
  <a href="#" role="button"  data-toggle="modal">Ask students</a>
</li>
<li> 
  <a href="#askTeacherQuestion" role="button"  data-toggle="modal">Add question</a>
</li>  

{% endblock %}

{% block head_scripts %}


<script type='text/javascript' src='https://www.google.com/jsapi'></script>
<script type='text/javascript'>
  google.load('visualization', '1', {packages:['gauge']});

  function drawChart(level) {
    var data = google.visualization.arrayToDataTable([
      ['Label', 'Value'],
      ['Confusion', level],
    ]);

    var options = {
      width: 350, height: 350,
      redFrom: 90, redTo: 100,
      yellowFrom:75, yellowTo: 90,
      minorTicks: 5, animation : { duration: 1000 }
    };

    chart.draw(data, options);
  }
</script>
{% endblock %}

{% block specific_content %}

<div class="row">
      <div class="span5"><h3>Confusion meter</h3><div id="chart_div"></div></div>
      <div class="span6" style="line-height:150%">
          <h3>Students ask questions</h3>
          <div id="student-questions"> Loading data...</div>

      </div>
</div>

  <style type="text/css">
    .qq {float:left;}
    .qbox{position:relative;top:-25px;}
  </style>


<script type="text/javascript">
  var chart = new google.visualization.Gauge(document.getElementById('chart_div'));
</script>




{% endblock %}

{% block scripts %}
	<script src="../static/js/application.js"></script>
    <script type="text/javascript">
    	appUpdateProc = teacherAppUpdate;
    	heartbeatAddr = "/studentq/getstate";
    </script>
{% endblock %}


{% block footer %}
<div class="question-template" style="display: none; background:white; margin-bottom:10px; position:relative; width:500px;height:150px"  id="q_main">
	<div class="text" style="width:400px;height:auto">This a sample question that some stupid did..</div>
	<div class="controls" >
		<div class="votes" style="left:-100px">45</div>
      <div class="teacher_controls" style="position: absolute; top: 90px; left: -180px;">
	      <button class="btn markanswer" onclick="">Mark answered</button>
      </div>
	</div>
</div>


<!-- Modal -->
<div id="askTeacherQuestion" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Ask new question</h3>
  </div>
  <div class="modal-body ask_question" style="height: 350px;">
	<textarea name="question" id="ask_question" value="Write your question here?"></textarea>
	<div class="options">
                <div id ="letters">    
                        <div class="row1">a)</div>
                        <div class="row2">b)</div>
                        <div class="row3">c)</div>
                        <div class="row4">d)</div>
                </div>
 
                <div id="inputs">
                        <div class="row1"><input type="text" name="ans_a" id="ans_a" /></div>
                        <div class="row2"><input type="text" name="ans_b" id="ans_b" /></div>
                        <div class="row3"><input type="text" name="ans_c" id="ans_c" /></div>
                        <div class="row4"><input type="text" name="ans_d" id="ans_d" /></div>
                </div>
        </div>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
    <button class="btn btn-primary" data-dismiss="modal" onclick="finalizeAskTeacherQuestion()">Ask</button>
  </div>
</div>
<!-- Modal ends -->

{% endblock %}
